
h5py
pandas
pycparser==2.21
scipy
tensorboard==2.6.0
imageio
matplotlib
natsort==7.1.1
pickle5
pillow
plotly
pyyaml==5.1
requests
scikit-image==0.19.2
scikit-learn==1.0.1
seaborn==0.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
torch==1.9.0
torchvision==0.10.0
tqdm==4.62.2
opencv-python>=4.1.2
